<a href="https://colab.research.google.com/github/sumayyasyeda/sumayyasyeda/blob/main/EXCEPTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x= int(input("Enter a number"))
y= int(input("Enter second number"))
print("sum is",x+y)

Enter a number2
Enter second number4
sum is 6

In [ ]:
try:
  a=5
  b='0'
  print(a/b)
except:
  print('some error occured')

some error occured

In [ ]:
x= int(input("Enter a number"))
y= input("Enter second number")
print("sum is",x+y)

Enter a number2
Enter second number3

TypeError: ignored

In [ ]:
#try, except

try:
  a=5
  b='0'
  print(a/b)# exception raised-> execute block gets executed
except:
  print('Some error occured')

print('out of try except blocks')

Some error occured
out of try except blocks

In [ ]:
try:
  a=int(input("enter the first value"))
  b=int(input("enter the second value"))
  print(a/b)
  print("sum is ",a+b)


except ValueError:
  print('enter a number only')
except TypeError:
  print('enter a ')  
except NameError:
  print('sdf')  
except ZeroDivisionError:
   print('enter a number ')  
print('out of try except block')

enter the first value5
enter the second value0
enter a number
out of try except block

In [ ]:
try:
  a=int(input("enter first value"))
  b=int(input("enter second value"))
  print(a/b)

except:
  print('Enter a number')  

print('out of try except block')

enter first value2
enter second valuef
Enter a number
out of try except block

In [ ]:
try:
  a=int(input("enter first value"))
  b=int(input("enter second value"))
  print(a/b)

except:
  print('Enter a number')  

print('out of try except block')

enter first value8
enter second value9
0.8888888888888888
out of try except block

In [ ]:
#else, finally

try:
  a=int(input("enter first value"))
  b=int(input("enter second value"))
  c=(a/b)
  

except ZeroDivisionError:
  print('Enter a number other than zero')
except ValueError:
  print('Enter a number only') 
except TypeError:
  print('Enter a  correct')


else:  
  print('else block')
  print('Division=',c)

enter first value5
enter second value5
else block
Division= 1.0

In [ ]:
#else, finally

try:
  a=int(input("enter first value"))
  b=int(input("enter second value"))
  c=(a/b)
  

except ZeroDivisionError:
  print('Enter a number other than zero')
except ValueError:
  print('Enter a number only') 
except TypeError:
  print('Enter a  correct')


else:  
  print('else block')
  print('Division=',c)

enter first value5
enter second value0
Enter a number other than zero

In [ ]:
try:
  a=int(input("enter first value"))
  b=int(input("enter second value"))
  c=(a/b)
  

except ZeroDivisionError:
  print('Enter a number other than zero')
except ValueError:
  print('Enter a number only') 
except TypeError:
  print('Enter a  correct')


#else:  
  print('else block')
  print('Division=',c)


finally:
  print("finally block")
print('out of my try, except, else,finally block')

enter first value3
enter second value4
finally block
out of my try, except, else,finally block

In [ ]:
try:
  a=int(input("enter first value"))
  b=input("enter second value") # error 
  c=(a/b)
  

except ZeroDivisionError:
  print('Enter a number other than zero')
except ValueError:
  print('Enter a number only') 
except TypeError:
  print('Enter a  correct')


else:  
  print('else block')
  print('Division=',c)


finally:
  print("finally block")
print('out of my try, except, else,finally block')

enter first value7
enter second value9
Enter a  correct
finally block
out of my try, except, else,finally block

In [ ]:
from ast import Raise
x=int(input())
y=input()
try:
  if y==0: 
     raise ZeroDivisionError()  
  z=x/y
  print("Divison =",z)

except ZeroDivisionError:
  print("you cannot divide by zero")



finally:
  print("finally block")

8
3
finally block

TypeError: ignored

In [ ]:
#Nesting of try block


try:
  print("line1")
  print('line2')
  try:
    print("line3")
    print('line4')
  except ZeroDivisionError:
    print("except")
  finally:
    print('finally')
  print('lines')
except TypeError:
  print("exception2")
finally:
  print("finally2")

line1
line2
line3
line4
finally
lines
finally2

1.create a list, try to access any element with the help of index.

Now, try to specify the index which is not in range, check for the exception you got.

handle that exception using exception handling

In [ ]:
try:
  list=['apple','ball','cat','doll','egg']
  #print(list.index())
  print(list[4])
except IndexError:
  print("not in range")

egg

In [ ]:
try:
  list=['apple','ball','cat','doll','egg']
  
  print(list[5])
except IndexError:
  print("not in range") 
except NameError:
  print('what you typed is char')

not in range

In [ ]:
try:
  list=['apple','ball','cat','doll','egg']
  
  print(list[s])
except IndexError:
  print("not in range") 
except NameError:
  print('what you typed is char')

what you typed is char

In [ ]:
#taking a input from user

try:
  list=['apple','ball','cat','doll','egg']
  list_index=int(input('enter the value:'))
  print(list[list_index])
except IndexError:
  print('not in range')

enter the value:5
not in range

let's say you have the following code written:
names = Input('Enter your name:') check for the error/exception that you got,

handle the exception using exception handling

In [ ]:
names=Input('enter your name:')
print(names)
#except TypeError:
#  print('not in range')

NameError: ignored

In [ ]:
try:
  names=Input('enter your name')
  print(names)
except NameError:
  print('not a valid ')

not a valid