<a href="https://colab.research.google.com/github/sumayyasyeda/sumayyasyeda/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DATA STRUCTURE**

LIST

In [8]:
#simple list
List=["apple","banana","tomato"]
List

['apple', 'banana', 'tomato']

In [9]:
#duplicate values
List=["apple","banana","tomato","apple","chilli"]
List

['apple', 'banana', 'tomato', 'apple', 'chilli']

In [10]:
#len of the list
List=["apple","banana","tomato"]
len(List)

3

In [14]:
#list can contain different datatype
List=["sumayya",17,'bday',True]
List

['sumayya', 17, 'bday', True]

In [16]:
#data type of list
Name=["sumayya","pooja"]
type(Name)

list

In [17]:
#list()  constructor for creating a list

List=list(("apple","tomato","chilli","banana"))
List

['apple', 'tomato', 'chilli', 'banana']

In [18]:
#printing second item of list
List[1]

'tomato'

In [19]:
#printing last item
List[-1]

'banana'

In [21]:
#printing 2nd to 4th 
List[1:4]

['tomato', 'chilli', 'banana']

In [22]:
List=list(("apple","tomato","chilli","banana","orange","pineapple"))
List

['apple', 'tomato', 'chilli', 'banana', 'orange', 'pineapple']

In [23]:
#not include orange
List[:4]

['apple', 'tomato', 'chilli', 'banana']

In [24]:
#print  from specified value
List[2:]

['chilli', 'banana', 'orange', 'pineapple']

In [25]:
List[-4:-1]

['chilli', 'banana', 'orange']

In [26]:
#checking for apple exist
if "apple" in List:
  print("yes,apple is in there")

yes,apple is in there

In [27]:
#to change the value from specific items
List[1]="me fruit"
List

['apple', 'me fruit', 'chilli', 'banana', 'orange', 'pineapple']

In [29]:
List[1:3]=["mefruit","minefruit"]
print(List)

['apple', 'mefruit', 'minefruit', 'banana', 'orange', 'pineapple']

In [33]:
#replacing value with two new values
List[1:2]=["watermelon","blackcurrant"]
List

['apple',
 'watermelon',
 'blackcurrant',
 'minefruit',
 'banana',
 'orange',
 'pineapple']

In [38]:
#replacing two and third value with on value
List=["apple","banana","watermelon"]
List[1:3]=["chiku"]
List

['apple', 'chiku']

In [39]:
#insering a item
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [40]:
#append at the en of list
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [41]:
#Add the elements of tropical to thislist
#extend

thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [42]:
#Add elements of a tuple to a list:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [46]:
#removes the specified item
#remove


thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [44]:
#pop() method removes the specified index

thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [47]:
#If you do not specify the index, the pop() method removes the last item
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [48]:
#del keyword also removes the specified index
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [51]:
#del keyword can also delete the list completely
thislist = ["apple", "banana", "cherry"]
del thislist

In [52]:
#clear() method empties the list
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [54]:
#Loop Through the Index Numbers
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

In [58]:
#Using a While Loop
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i=i+1

apple
banana
cherry

In [60]:
#Looping Using List Comprehension
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

apple
banana
cherry

[None, None, None]

In [62]:
#List Comprehension

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []
for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [63]:
# list comprehension you can do all that with only one line of code:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [67]:
#The condition is like a filter that only accepts the items that valuate to True
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if x != "apple"]
newlist

['banana', 'cherry', 'kiwi', 'mango']

In [68]:
#ith no if statement:
newlist = [x for x in fruits]
newlist

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [71]:
#Iterable
newlist = [x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [72]:
#Accept only numbers lower than 5:
newlist = [x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [73]:
#upper will make all th eletters to uppercase
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x.upper() for x in fruits]

print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [77]:
#Set all values in the new list to 'hello'
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = ['hello' for x in fruits]

print(newlist)

['hello', 'hello', 'hello', 'hello', 'hello']

In [80]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" 
           else "orange" 
           for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [81]:
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [82]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [83]:
#Sort the list descending:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [84]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [85]:
#Sort the list based on how close the number is to 50
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [86]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [87]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

In [88]:
#copy the list

thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [89]:
#built-in method list()
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

Join Two Lists

In [90]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [91]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [92]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]